
<!--


This explonation is for above code:

Put each elements from an instence variable @pictures into picture 
than use tag to display picture title and artis name on the same line seperated by a comma
lastly use the image tag to display the picture that is stored into the url  attribute.

-->


<h1><u><center>Total Number of Pictures (<%= @pictures.length %>)</center></center></u></h1> 


<u><%= link_to "Create a New Picture", "/pictures/new" %></u><br><br>

<% @pictures.each do |picture| %>

  <p class="picture">Title: <%= picture.title %><br>Artist: <%= picture.artist %></p>
  <p id="picture"><%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %></p>
  
  
<% end %>

