
<!--


This explonation is for above code:

Put each elements from an instence variable @pictures into picture 
than use tag to display picture title and artis name on the same line seperated by a comma
lastly use the image tag to display the picture that is stored into the url  attribute.

-->


<h1>Total Number of Pictures (<%= @pictures.length %>)</h1> 


<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
  
  
<% end %>

<footer>
<center>
  <p>Posted by: Raza Chandiwala</p>
  <p>Contact information: <a href="mailto:rachandiwala@gmail.com"></a>rachandiwala@gmail.com</p>
  </center>
</footer>


